body, html{
	height: 100%;
	width: 100%;
}
body{
	background: url(../images/pattern.png) repeat center;
	background-size: 150px;
}
.screen{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(255,255,255,.7);
	z-index: 1000;
	display: none;

}

.screen img{
	position: absolute;
	top: 50%;
	margin-top: -32px;
	left: 50%;
	margin-left: -32px;
}